<% if !user_signed_in? %>
<div class="jumbotron">
<h1>Your Favorite Movie Reviewed</h1>
<p>Salman khan should get best Filmfare actor award and National award.Outstanding performance , beautiful movie and a fantastic performance by the kidf</p>
<p><%= link_to "Sign Up To Write Review",new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>
<div class="row">
<% @movies.each do |movie| %>
<div class="col-sm-6 col-md-3">
<div class="tumbnail">
<%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
<%#= link_to (video_file_tag movie.video_file.url(:medium), class: 'video_file'), movie %>


</div>
</div>
<% end %>
</div>